/* Book List */
.book_list h2 { margin: 0; }

.book_list ul { margin-bottom: 40px; }

.book_list li a{
	display: block;
	padding: 20px 50px 20px 10px;
	border-bottom: 1px solid #ddd;
	height: 74px;
	background: url('../images/arrow_circle_green.png') no-repeat 98% center;
}

.book_list li a:link, .book_list li a:visited { color: #666; }
.book_list li a:hover, .book_list li a:active { color: #333; background-color: #e5f2d5; }


.book_list li a img {
	float: left;
	margin-right: 10px;
}

/* Book Page */
.book_promo {
	padding: 20px 0 10px;
	background: #e6e9ec; 	
	background-image: -webkit-gradient(linear, center top, center bottom, from(#d6e3c7), color-stop(10%, #e5f2d5), color-stop(90%, #e5f2d5), to(#d6e3c7));
	background-image: -webkit-linear-gradient(center top, #d6e3c7, #e5f2d5 10%, #e5f2d5 90%, #d6e3c7);
	background-image:    -moz-linear-gradient(center top, #d6e3c7, #e5f2d5 10%, #e5f2d5 90%, #d6e3c7);
	background-image:     -ms-linear-gradient(center top, #d6e3c7, #e5f2d5 10%, #e5f2d5 90%, #d6e3c7);
	background-image:      -o-linear-gradient(center top, #d6e3c7, #e5f2d5 10%, #e5f2d5 90%, #d6e3c7);
	border-top: 1px solid #8cc63f;
	border-bottom: 1px solid #8cc63f;
}

.book_promo .more { 
	font-size: 16px; 
	width: 250px; 
	padding: 10px;
}
.book_promo .more:link, .book_promo .more:visited { background-color: #8cc63f; }
.book_promo .more:hover, .book_promo .more:active { background-color: #fff; }

.book_media {
	float: left;
	margin-right: 20px;
}


/* book page */
.book_promo .book_media {
	margin-bottom: 20px;
}

.book_promo .details {
	float: left;
	width: 600px;
	padding-right: 30px;
	border-right: 1px solid #fff;
}

.book_promo .details img {
	float: left;
	margin: 0 10px 10px 0;
}

.book_promo .details h1 {
	font-size: 30px;
	line-height: 40px;
}

.book_promo .details h3 {
	font-size: 20px;
}

.book_promo .details h3.longer {
	font-size: 18px;
}

.book_promo .details summary {
	clear: left;
	padding: 10px 0 0 5px;
}

.book_promo .buttons {
	float: left;
	width: 300px;
	margin-left: 29px;
}

.book_promo a small {
	display: block;
	margin: 5px;
	color: #333;
	font-size: 11px;
}

.press_links img {
	width: 210px;
	margin: 0 10px;
	vertical-align: middle;
}

.press_logos h4 {
	display: inline-block;
}
	

.press_logos .logo_link {
 	padding: 20px 20px 20px 0;
	display: inline-block;
}

.book_features h2 {
	color: #bbb;
	border-bottom: 1px solid #bbb;
	padding: 10px 0 5px;
}

.book_features .feature {
	border-bottom: 1px solid #bbb;
	padding: 20px 0 0;
}

.book_features .feature h4 {
	padding-top: 15px;
}

.book_features .feature img {
	margin: 0 20px;
}

/* coming soon book page */
.book_coming_soon .book_promo .details {
	border-right: none;
}

.book_coming_soon_subscribe {
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid #fff;
}

/* media list */
.media_list {
	clear: both;
}

.media_list li {
	float: left;
	padding: 5px 0;
	border-bottom: 1px solid #bbb;
	margin: 0 20px 10px 0;
}

.media_list li:nth-child(4n+4){
	margin-right: 0;
}

.media_list li h4 {
	padding: 5px 0 5px 0;
	margin: 0;
}

.media_list li.video {
	position: relative;
}

.media_list li.video:after {
	content: ' ';
	background: url('/images/icon_video_play.png') no-repeat;
	width: 42px;
	height: 32px;
	position: absolute;
	top: 113px;
	left: 10px;
}