body {
	
	font: 14px/18px helvetica;
	font-weight: 80;
	line-height: 24px;
/*	margin: 33px 16% 0 16%;*/
	text-align: center;
	background: #b6b6b6;
}

p {
	margin: 0 33% 0 33%;
	text-align: justify;
	color: #333;
}

h1 {
	 color: #333;
	 font-weight: 100;
	 font-style: normal;
	 letter-spacing: 40px;
	 text-transform: lowercase;
	 margin: 33px 16% 0 16%;
}

h2 {
	font-weight: 110;
	letter-spacing: 8px;
	color: #303035;
	text-transform: lowercase;
}

h4 {
	font-weight: lighter;
	font-style: normal;
	color: #222;
	font-size: 12px;
	letter-spacing: 2px;
}

small {
	font-size: 8px;
}

footer {
	margin-top: 80px;
}

nav {
	padding-top: 6px;
	padding-bottom: 6px;
}

nav a {
	letter-spacing: 8px;
	color: #d5d5c5;
	text-decoration: none;
	padding: 0 55px 0 55px;
	font-size: 24px;
	line-height: 48px;
	text-transform: lowercase;
}

a:hover {
	color: #aa8999;
}

hr {
	border: 0px;
	color: #333;
	background-color: #444444;
	height: 1px;
	width: 100%;
	margin-top: 8px;
	
}