/* style.scss */
body {
	text-align: center;
	
	padding: {
		left: 24%;
		right: 24%;
	}
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 36px;
	.main_title {
		color: #345;
		font-size: 48px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 12px;
		font-family: Helvetica, sans-serif, Arial;
		font-style: italic;	
	}
	font-style: italic;
	text-shadow: 2.5px 2.5px #bbb;
	letter-spacing: 8px;
	
}

.main_title {
	
}

p {
	font-family: Arial, sans-serif;
	.welcome_message {
		font-style: italic;
		text-shadow: 1px 1px #bbb;
	}
	font-size: 16px;
}

small {
	padding-top: 20px;
	font: Arial;
	font-size: 8px;
}