/* style.scss */
body {
	padding: {
		left: 24%;
		right: 24%;
	}
}

h1 {
	font-family: sans-serif;
	font-size: 24px;
}

.main_title {
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 12px;
}

p {
	font-size: 16px;
	align: center;
}