/* global.scss */
body {
  text-align: center;
  color: #222;
  background-color: #b8b2a6;
  padding-left: 15%;
  padding-right: 15%; }

.main_title {
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 12px;
  font-family: STHeiti, sans-serif;
  font-style: italic;
  color: #321; }

.nav_bar {
  padding-bottom: 2px;
  color: #221;
  letter-spacing: 12px;
  font-family: STHeiti, sans-serif;
  font-style: light;
  cursor: default; }
  .nav_bar span:hover {
    color: #642; }

#float-left-third {
  text-align: left;
  float: left;
  width: 66%;
  margin-right: 30px; }

#list-right {
  float: right;
  width: 33%;
  text-align: right; }

h1 {
  font-family: STHeiti, sans-serif;
  font-size: 36px;
  text-shadow: 2.5px 2.5px #dddddd;
  letter-spacing: 8px;
  color: #221; }

p {
  font-family: STHeiti, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 150%; }

.biography {
  text-align: justify; }

small {
  margin-top: 20px;
  font: STHeiti, sans-serif;
  font-size: 12px; }
