/* global.scss */
body {
  text-align: center;
  color: #222;
  background-color: #b8b2a6;
  padding-left: 15%;
  padding-right: 15%; }

.main_title {
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 12px;
  font-family: STHeiti, sans-serif;
  font-style: italic;
  color: #321; }

.nav_bar {
  padding-bottom: 2px;
  color: #221;
  letter-spacing: 12px;
  font-family: STHeiti, sans-serif;
  font-style: light;
  cursor: default; }
  .nav_bar span:hover {
    color: #642; }

#artiststatement {
  font-size: 14px; }

.list-float-right h3 {
  float: left;
  width: 50%;
  text-align: center; }
.list-float-right p {
  text-align: justify;
  float: left;
  margin-right: 25%;
                  /*  not working 
margin-left: 40px;   not working */
  width: 50%; }
.list-float-right #list-heading {
  width: 30%;
  text-align: center; }
.list-float-right ul {
  width: 30%;
  text-align: right;
  list-style-type: none; }

h1 {
  font-family: STHeiti, sans-serif;
  font-size: 36px;
  text-shadow: 2.5px 2.5px #dddddd;
  letter-spacing: 8px;
  color: #321; }

h3 {
  font-family: STHeiti, sans-serif;
  font-size: 28px;
  text-shadow: 2px 2px #332211;
  color: #ddd; }

p {
  font-family: STHeiti, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 150%; }

.biography {
  text-align: justify; }

.footer {
  width: 100%; }
  .footer small {
    margin-top: 20px;
    font: STHeiti, sans-serif;
    font-size: 12px; }
